<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@10.0.0.121:1521:ORCL</property>
		<property name="connection.username">tpch</property>
		<property name="connection.password">panda#np2tec</property>
                <!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
                
                <property name="hibernate.connection.provider.class">org.hibernate.connection.C3P0ConnectionProvider</property>
                <property name="hibernate.c3p0.min_size">1</property>
                <property name="hibernate.c3p0.max_size">2</property>
                <property name="hibernate.c3p0.timeout">180</property>
                <property name="hibernate.c3p0.idle_test_period">100</property>
		
                <!-- Arquivos de mapeamento -->
                <mapping resource="Pedido.hbm.xml" />
                <mapping resource="ItemPedido.hbm.xml" />
                
                
	</session-factory>

</hibernate-configuration>